<h1>Parabéns!</h1>
<p>Olá <%= @user.name %>,</p>
<p>Sua proposta para a criação do registro do clube "<%= @club.name %>" foi aprovada!</p>
<p>Para logar pela primeira vez, use seu email e a senha temporária "<%= @user.password %>"</p>
